<!DOCTYPE html>
<html>
<head>
  <title>Selling Company homepage</title>
</head>
<body>
<div class="container">
  <h1 class="header">Functions:</h1>
  <div class="list">
    <button class="list-item" (click)="viewProductsOnSale()">View products on sale</button>
    <button class="list-item" (click)="viewPreviouslySold()">View previously sold products</button>
    <button class="list-item" (click)="addNewProduct()">Add new product</button>
  </div>

  <div *ngIf="buttonClicked">
    <div *ngIf="products && products.length">
      <h2>List of Products:</h2>
      <ul class="products-list">
        <li *ngFor="let product of products" class="product-card">
          <div class="product-info">
            <img src="{{ product.imageUrl }}" alt="{{ product.name }}" class="product-image">
            <div class="product-details">
              <h3>{{ product.name }}</h3>
              <p class="product-description">{{ product.description }}</p>
              <p class="product-price">Price: ${{ product.price.toFixed(2) }}</p>
              <p class="product-state">State: {{ product.state }}</p>
            </div>
          </div>
          <button class="add-to-cart-button" (click)="deleteProduct(product.id)">x</button>
        </li>
      </ul>
    </div>

    <div *ngIf="products.length==0">
      <h2>No products</h2>
    </div>

  </div>


  <div *ngIf="createNewProductForm" class="form">
    <h2>New Product:</h2>
    <form (ngSubmit)="submitNewProduct()" #companyForm="ngForm">
      <label>Product name:</label>
      <input type="text" [(ngModel)]="newProductName" name="ProductName">
      <label>Description:</label>
      <input type="text" [(ngModel)]="newProductDescription" name="ProductDescription">
      <label>Image URL:</label>
      <input type="text" [(ngModel)]="newImageUrl" name="imageUrl">
      <label>Price:</label>
      <input type="number" [(ngModel)]="newProductPrice" name="ProductPrice">
      <button type="submit">Create</button>
    </form>
  </div>

</div>
</body>
</html>
