/* Center the webpage */
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
}

/* Add animation */
button {
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ddd;
  color: #333;
}

/* Add layout */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.list-item {
  padding: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: center;
}
h2 {
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}

/* Style the form */
form {
  align-items: center;
  width: 50%;
  margin-top: 2rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="number"] {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  width: 100%;
}

button[type="submit"] {
  background-color: #666666;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 20px;
  cursor: pointer;
  width: fit-content;
}

/* Style the products container */
.products-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Style the products list */
.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Style the product card */
.product-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

/* Style the product image */
.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Style the "Add to Cart" button */
.add-to-cart-button {
  background-color: #008CBA;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.add-to-cart-button:hover {
  background-color: #006B8F;
}

/* Style the product details */
.product-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.product-details h3 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 5px;
}

.product-details p {
  margin: 0;
}

/* Style the product price */
.product-price {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style the product quantity and state */
.product-quantity,
.product-state {
  font-style: italic;
}


