<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
</head>
<body>
<div *ngIf="!this.loggedIn">
  <h2>Not logged in</h2>
  <a routerLink="/">Go Back</a>
  <br>
</div>
<div *ngIf="this.loggedIn">
  <nav>
    <h1>Welcome</h1>
    <h2>
      Logged in as <a (click)="goToProfilePage()">{{ this.loggedInUser.username }}</a>
    </h2>

    <div class="notification-container">
      <button (click)="showNotifications()" class="notification-icon" [ngClass]="{'active': showingNotifications}">
        <i class="fas fa-bell"></i>
        <span class="notification-count">{{ notificationCount }}</span>
      </button>
      <div *ngIf="showingNotifications" class="notification-dropdown">
        <div *ngIf="notificationList.length > 0">
          <div *ngFor="let notification of notificationList" class="notification-item">
            <p>{{ notification.message }}</p>
            <div *ngIf="notification.request" class="notification-buttons">
              <button (click)="acceptNotification(notification.id)" class="notification-button notification-button-accept">Accept</button>
              <button (click)="rejectNotification(notification.id)" class="notification-button notification-button-reject">Reject</button>
            </div>
          </div>
        </div>
        <div *ngIf="notificationList.length === 0">
          <p>No new notifications</p>
        </div>
      </div>
    </div>

    <a (click)="logoutUser()">Logout</a>
  </nav>

  <div *ngIf="this.loggedInUser.type === 'Admin'">
    <h4>Admin!</h4>
    <app-admin-component></app-admin-component>
  </div>
  <div *ngIf="this.loggedInUser.type == 'Customer'">
    <h4>Customer!</h4>
    <app-customer-component></app-customer-component>
  </div>
  <div *ngIf="this.loggedInUser.type === 'Selling_Company'">
    <h4>Shopping Company!</h4>
    <app-selling-company-component></app-selling-company-component>
  </div>
  <div *ngIf="this.loggedInUser.type === 'Shipping_Company'">
    <h4>Shopping Company!</h4>
    <app-shipping-company-component></app-shipping-company-component>
  </div>
</div>

</body>
</html>
